@font-face {
    font-family: Signika Negative;
    src: url('/_assets/fonts/signika.ttf');
}

/* <editor-fold desc="|| General">*/
:root {
    font-size: 16px;
    --bg-primary: rgb(0, 0, 0);
    --bg-secondary: rgb(37, 37, 37);
    --on-bg: #f5f5f5;
    --on-bg-gray: rgb(150, 150, 150);

    --button-primary: rgb(220, 14, 171);
    --button-primary-hover: rgb(136, 8, 104);
    --button-primary-active: rgb(93, 5, 71);
    --on-button: rgb(255, 255, 255);

    --button-delete: rgb(0, 0, 0);
    --button-delete-hover: rgba(0, 0, 0, 0.1);
    --button-delete-active: rgba(0, 0, 0, 0.3);
    --on-button-delete: rgb(255, 0, 0);

    --textfield-primary: rgb(220, 14, 171);
    --textfield-primary-hover: rgb(136, 8, 104);
    --textfield-primary-active: rgb(93, 5, 71);
    --on-textfield: rgb(255, 255, 255);

    --scrollbar-primary: rgb(220, 14, 171);
    --scrollbar-primary-hover: rgb(136, 8, 104);
    --progress-bar: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 70%);

}
html {
    scroll-behavior: smooth;
}
*, body {
    margin: 0;
    padding: 0;
    font-family: "Signika Negative", Arial,sans-serif;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body, main {
    overflow-x: hidden;
}
main {
    overflow-y: hidden;
    padding-bottom: 80px !important;
}
.non-selectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3, #introduction-text .subtitle, .project-description .project-title {
    font-size: 20px;
}
h4 {
    font-size: 17px;
}
h5, .project-description .project-subtitle, .project-dates, .font--small {
    font-size: 16px;
    font-weight: bold;
    color: var(--on-bg-gray);
}
.font--small {
    font-size: 15px;
    /* font-weight: bold; */
    font-style: italic;
    color: var(--on-bg-gray);
}
.padding {
    padding: 10px;
}
section.left {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}
section.right {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
section.center {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.text--small-box {
    font-size: 18px;
    max-width: 400px;
}
.text--medium-box {
    font-size: 18px;
    max-width: 800px;
}
.rounded-corners {
    border-radius: 10px;
}
.image-fit {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block !important;
}
.image-fit.phone {
    height: 600px;
    width: auto;
}

hr {
    max-width: 80%;
    border-color: #808080;
    animation: UpFadeInSlow 1s;
}
hr.center {
    margin: auto;
}
hr.left {
    margin-right: auto;
    animation: RightFadeInSlow 1.5s;
}
hr.right {
    margin-left: auto;
    animation: LeftFadeInSlow 1.5s;
}

ul > li {
    margin-left: 1.2rem;
}

a.anchor {
    top: -110px;
    display: block;
    position: relative;
    visibility: visible;
}

.random-picture {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4px;
}
.random-picture img {
    border-radius: 12px;
    max-width: 80%;
}
.random-picture span {
    font-size: 12px;
    color: var(--on-bg-gray);
    text-decoration: none;
}
.random-picture span > a {
    text-decoration: none;
    color: var(--on-bg);
}

.side-by-side {
    animation: UpFadeInSlow 1s;
    display: flex;
    gap: 20px;
    flex-flow: column;
    align-items: start;
    padding: 20px;
}

.side-by-side > * {
    flex: 1 0 50%;
    width: 100%;
}
.side-by-side img, .side-by-side .image {
    flex: 0 1 50%;
    position: relative;
    width: auto !important;
    height: auto !important;
    max-height: 500px;
}
.side-by-side .image img {
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    max-width: 100%;
}
.centered-text {
    text-align: center;
}

h3+.justified-text {
    margin-top: 10px;
}
.justified-text {
    text-align: justify;
}
.justified-text+.justified-text {
    margin-top: 20px;
}
.grayed-text {
    color: rgba(255, 255, 255, 0.5);
}
.section-spacer {
    padding-bottom: 10rem;
}
/* </editor-fold> */
/*<editor-fold desc="|| Scrollbar">*/
.floating-label-container ::-webkit-scrollbar {
    width: 8px;
}
.floating-label-container ::-webkit-scrollbar-track {
    background: transparent;
}
.floating-label-container ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: var(--scrollbar-primary);
}
.floating-label-container ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-primary-hover);
}
.floating-label-container ::-webkit-resizer {
    background: var(--bg-primary);
}
/*</editor-fold>*/
/* <editor-fold desc="|| Navigation">*/
nav * {
    color: var(--on-bg);
}
#navigation-burger {
    display: flex;
    color: var(--on-bg);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.2s;
    width: 44px;
    height: 44px;
}
#navigation-burger, #navigation-burger * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#navigation-burger:hover {
    background-color: var(--bg-secondary);
}
#navigation-burger .navigation-burger--close {
    display: none;
}
#navigation-burger.active .navigation-burger--open {
    display: none;
}
#navigation-burger.active .navigation-burger--close {
    display: block;
}
#navigation-drawer {
    display: initial;
    position: fixed;
    overflow: hidden;
    background-color: var(--bg-primary);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    transform: translateY(-300px);
    padding: 74px 0 10px 0;
    transition: transform 0.5s;
}
#navigation-drawer.active {
    transform: translateY(0px);
}
#navigation-drawer .navigation-drawer--controls {
    padding: 20px;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigation-drawer .navigation-drawer--menu {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
#navigation-drawer .navigation-drawer--menu > a {
    color: var(--on-bg);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 40px;
    width: 100%;
}
#navigation-drawer .navigation-drawer--menu > a:hover {
    background-color: var(--bg-secondary);
}

#navigation-menu {
    display: none;
    float: left;
    flex-flow: row;
    align-items: center;
    gap: 16px;
}
#navigation-menu > a {
    text-underline: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    vertical-align: center;
}
#navigation-menu > a > img {
    height: 32px;
    width: auto;
}
#socials-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}
#socials-menu > a > img {
    height: 32px;
    width: auto;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 150px;
    width: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    animation: UpDownMovement 1s infinite;

}
.scroll-down-indicator > a {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
}
.scroll-down-indicator * {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
/* </editor-fold> */
/* <editor-fold desc="|| Structure">*/
html {
    height: 100vh;
}
body {
    position: relative;
    background-color: var(--bg-primary);
    min-height: calc(100vh - 64px);
    margin-left: auto;
    margin-right: auto;
}
body > header {
    z-index: 10;
    width: 100%;
    max-width: 1300px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 10px 0px rgba(187, 230, 255, 0.3);;

    background-color: var(--bg-primary);
    height: 64px;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
body > main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    background-color: transparent;
    margin-top: 64px;
    color: var(--on-bg);
    padding-bottom: 80px;
}
body > footer {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 1300px;
    padding: 10px 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
body > footer * {
    color: var(--on-bg-gray);
}
body > footer > a {
    text-decoration: underline;
    transition: color 0.2s;
}
body > footer > a:hover {
    color: var(--on-bg);
}
.fw-content {
    width: 100%;
    padding: 20px;
}
.impress {
    max-width: 700px;
    margin: 20px 20px;
}
.impress p {
    margin-left: 20px;
}
.bg-image {
    animation: RotateIn 2s;
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg-image > img {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: auto;
}
.bg-image > #bg-image-author {
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
    font-size: 12px;
    color: var(--on-bg-gray);
    text-decoration: none;
}
.bg-image > #bg-image-author a {
    text-decoration: none;
    color: var(--on-bg);
}

.rest-api {
    overflow: auto;
}

.rest-api + div.justified-text {
    margin-top: 10px
}

.rest-api.response, .rest-api.request {
    background-color: #303030;
    color: #f8f8f2;
    border-radius: 10px;;
    font-family: monospace;
}

.rest-api.response > div, .rest-api.request > div {
    background-color: #252525;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px 10px 0 0;
    gap: 10px;
    padding: 16px;
}
.rest-api.response > div *:first-child, .rest-api.request > div *:first-child {
    margin-right: auto;
}

.rest-api.response  [class^='status-code--'], [class^='request-method--'] {
    padding: 5px;
    border-radius: 6px;
    color: white;
    text-align: center;
}
.rest-api.response .status-code--200, .request-method--post {
    background-color: #33e145;
}

.request-method--delete {
    background-color: #e13333;
}

.request-method--get {
    background-color: #33e1e1;
}

.request-method--put {
    background-color: #ffdf00;
    color: black;
}


code.hljs {
    background-color: transparent;
    color: #f8f8f2;
    border-radius: 10px;
    font-family: monospace;

    padding: 5px 30px !important;
}
pre:has(code.hljs) {
    display: flex;
}

.language-json .hljs-punctuation {
    color: #f8f8f2 !important;
}
.language-json .hljs-string {
    color: #00C000 !important;
}

/* </editor-fold> */
/* <editor-fold desc="|| Sections">*/
#introduction {
    position: relative;
    padding: 100px 30px;
    overflow: hidden;
    height: calc(100vh);
}
#introduction h1, #introduction .subtitle {
    position: relative;
    z-index: 5;

    background: white;
    background: linear-gradient(126deg, rgba(255,0,193,1) 0%, rgba(0,198,255,1) 50%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#introduction h1 {
    animation: UpFadeIn 0.5s;
}
#introduction .subtitle {
    animation: UpFadeInSlow 1s;
}
#introduction-text * {
    text-align: center;
}
section:not(#introduction) {
    animation: UpFadeInSlow 1s;
}
section > header {
    width: 100%;
    height: 0;
    overflow: visible;
    position: relative;
    top: -42px;
    padding: 0px 15px;
    visibility: visible;
}
section > header.left {
    display: flex;
    flex-flow: row;
}
section > header.center {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
section > header.right {
    display: flex;
    flex-flow: row-reverse;
}
section .content {
    padding: 20px 15px 50px 15px;
}

.page-project > .centered-section, .page-project > .side-by-side {
    padding: 50px 20px;
}
.page-project--content {
    max-width: 800px;
    margin: 0 auto;
}
.page-project img {
    border-radius: 15px;
    max-width: 800px;
    width: 100%;
    height: auto;
}
.page-project--info {
    padding: 20px 20px 20px 20px;
}
.page-project .page-project--title {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 20px;
}
.page-project .page-project--title > :last-child {
    min-width: 150px;
    display: flex;
    justify-content: right;
}
.page-project .page-project--description {
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.page-error, .centered-page, .centered-section {
    animation: UpFadeIn 1s;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    background-color: #000;
    color: #fff;
}
.page-error a, .page-project a, .page-about a, .page-contact a {
    color: #09b5ff;
}

.feature-list > li {
    margin-bottom: 5px;
}
.feature-list > li > div:not(:first-child) {
    color: rgba(255, 255, 255, 0.5);
}
/* </editor-fold> */
/* <editor-fold desc="|| Cards">*/
.card {
    background-color: transparent;
    perspective: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.card.background {
    background-color: var(--bg-secondary);
}
.card-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.card--rotate {
    transform: translateY(0);
    transition: transform 0.5s;
}
.card--rotate, .card--rotate *{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card.single-sided {
    background-color: var(--bg-secondary);
    border-radius: 8px;
    padding: 15px;
}

.card--rotate:hover {
    transform: translateY(-10px);
}
.card--rotate.active:hover .card-content {
    transform: rotateY(180deg);
}
.card--rotate:hover .card-front {
    background-position: -1100px;
}
.card-front, .card-back {
    background: var(--bg-primary);
    background: linear-gradient(117deg, rgba(20, 20, 20 ,1) 0%, rgba(0, 0, 0 ,1) 50%, rgba(255,0,193,1) 60%, rgba(0,198,255,1) 100%);
    transition: background 0.5s ease-out;
    background-size: 2000px;

    padding: 10px;
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card--icon-text {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.card--icon-text > i {
    font-size: 60px;
}
.card--icon-text > span {
    font-size: 25px;
}
.card-back {
    position: relative;
    transform: rotateY(180deg);
}
.card-back .card--image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
.card-back .card--image {
    position: absolute;
    top: 10px;
    bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--text-more {
    position: absolute;
    bottom: 16px;
    margin: auto;
}

.card--rotate.active .card-content {
    transform: rotateY(180deg);
}
.card--small {
    width: 100%;
    height: 400px;
}
.card-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.card--project {
    cursor: pointer;
}
.card--project, .card--fw-text {
    width: 100%;
    background: linear-gradient(117deg, rgba(20, 20, 20 ,1) 0%, rgba(10, 10, 10 ,1) 100%);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-flow: column;
    gap: 15px;
    transition: transform 0.5s;
}
.card--project:hover {
    transform: translateY(-10px);
}
.card-list--project {
    flex-flow: column !important;
}

a.card {
    text-decoration: none;
    color: white;
}

.project-info {
    height: 50px;
    width: 100%;
    text-align: right;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.project-preview {
    min-height: 0;
    height: 100%;
    display: flex;
}

.card--project .project-preview > img {
    aspect-ratio: 2 / 1;
    max-height: 500px;
    max-width: 100% !important;
    width: auto;
    height: auto !important;
    display: block;
    margin: auto;
    filter: grayscale(100%);
    transition: filter 0.5s, transform 0.5s;
}

.card--project:hover .project-preview > img {
    filter: grayscale(0%) drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    transform: scale(1.03);
}

.image-graph {
    min-height: 0;
    width: 100%;
    display: flex;

    position: relative;
    top: -25px;
    height: calc(100% - 50px);
}
.image-graph > img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* </editor-fold> */
/* <editor-fold desc="|| Contact Page">*/
.page-contact {
    animation: UpFadeIn 1s;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
.contact-form, .login-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.form-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

/* </editor-fold> */
/* <editor-fold desc="|| About Me">*/
.page-about {
    padding: 10px;
}
.page-about > section > h2+p {
    margin-top: 10px;
}
.page-about table {
    width: 100%;
    border-collapse: collapse;
}
.page-about table td .right {
    text-align: right;
}
.page-about table td {
    vertical-align: top;
    padding: 10px;
}
.page-about table.small-border-table td {
    padding: 0.125rem 10px;
}

.page-about table td.title {
    width: 100px;
    font-weight: bold;
}
.about-me-profile {
}
.about-me-profile .profile-picture {
    max-width: 150px;
    width: 100%;
    height: auto;

    margin-left: 20px;
    display: block;
    border-radius: 10%;
    float: right;
}

.timeline {
    position: relative;
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 2rem;
    height: 70vh;
    min-height: 450px;
    width: calc(100% - 2rem);
}
.timeline .timeline-path {
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(100% - 20px);
    height: 4px;
    background: var(--progress-bar);
}
.timeline-path::before{
    content: 'V';
    position: absolute;
    top: 2px;
    right: -16px;
    transform: translateY(-50%) rotateZ(-90deg);

    background: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}
.primary-text {
    font-size: 16px;
    font-weight: 700;
}
.secondary-text {
    font-size: 14px;
    opacity: 0.5;
}
.timeline-item {
    position: absolute;
    display: flex;
    flex-flow: column;
    font-size: 24pt;
    height: 50%;
}
.timeline-item.bottom {
    top: calc(50% + 4px);
    justify-content: flex-end;
}
.timeline-item-content {
    padding: 0.5rem 0;
    z-index: 1;
    background-color: black;
}
.timeline-item-date {
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.timeline-item-path {
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(black 50%, rgba(255,255,255,50%) 0%);
    background-position: right;
    background-size: 2px 30px;
    background-repeat: repeat-y;
}
.timeline-item .timeline-item-image {
    position: absolute;
    bottom: -140px;
    left: -63px;
    height: auto;
    width: 150px;
}
.timeline-item.bottom .timeline-item-image {
    top: -132px;
    bottom: auto;
}
.timeline-item-image.sap {
    left: -45px;
    bottom: -100px;
    height: auto;
    width: 140px;
}
.timeline-item-image img {
    width: 100%;
    height: auto;
}

.timeline-item {
    &:nth-child(2) {
        left: 5%;
    }
    &:nth-child(3) {
        left: 25%;
    }
    &:nth-child(4) {
        left: 45%;
    }
    &:nth-child(5) {
        left: 65%;
    }
    &:nth-child(6) {
        left: 85%;
    }
}
/* </editor-fold> */
/* <editor-fold desc="|| Admin Page">*/
.message-list {
    display: flex;
    flex-flow: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}
.message {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--bg-secondary);
    gap: 10px;
}
.message .message--header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* </editor-fold> */
/* <editor-fold desc="|| Buttons">*/
button {
    background-color: var(--button-primary);
    color: var(--on-button);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    height: 42px;
    text-align: center;

    cursor: pointer;
    transition: background-color 0.2s ease-out;
}
button:hover {
    background-color: var(--button-primary-hover);
}
button:active {
    background-color: var(--button-primary-active);
}
button.uppercase {
    text-transform: uppercase;
}

button.button--outline {
    background-color: transparent;
    color: var(--on-bg);
    border: 1px solid var(--button-primary);

    background: var(--bg-primary);
    background: linear-gradient(117deg, rgba(0, 0, 0 , 1) 50%, rgba(255,0,193,1) 60%, rgba(0,198,255,1) 100%);
    transition: background 0.4s ease-out, border-color 0.2s ease-out;
    background-size: 400px;
}
button.button--outline.dark-gray {
    background-color: transparent;
    background: var(--bg-secondary);
    background: linear-gradient(117deg, rgba(37, 37, 37 , 1) 50%, rgba(255,0,193,1) 60%, rgba(0,198,255,1) 100%);
    background-size: 400px;

}
button.button--outline:hover {
    border-color: var(--bg-primary);
    background-position: -225px;
}
button.button--outline.dark-gray:hover {
    border-color: var(--bg-secondary);
}
button.button--outline:active {
    background-color: var(--button-primary-active);
}

button.button--icon.delete {
    background-color: var(--bg-primary);
    color: var(--on-button-delete);
}
button.button--icon {
    background-color: var(--button-primary);
    color: var(--on-button);

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    padding-right: 12px;
    box-shadow: none;
}
button.button--icon.dark-gray {
    background-color: var(--bg-secondary);

}
button.button--icon:hover {
    background-color: var(--button-delete-hover);
}
button.button--icon.dark-gray:hover {
    background-color: var(--button-delete-hover);
}
button.button--icon:active {
    background-color: var(--button-delete-active);
}
/* </editor-fold> */
/* <editor-fold desc="|| TEXT">*/
.floating-label-container {
    border: 1px solid #707070;
    background-color: var(--bg-primary);
    color: var(--on-textfield);
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.floating-label-container .text-field, .floating-label-container .text-area {
    border: none;
    font-size: 16px;
    padding: 0 16px;
    background-color: transparent;
    color: var(--on-button);
    outline: 0;
    height: 48px;
    width: 100%;
}
.floating-label-container .text-area {
    margin-top: 16px;
    resize: vertical;
    min-height: 300px;
}
.floating-label-container label {
    cursor: text;
    font-size: 16px;
    background-color: var(--bg-primary);
    padding: 0 4px;

    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: translate(12px, 14px) scale(1);
    transition: all .1s ease-in-out;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.floating-label-container.active label {
    transform: translate(8px, -8px) scale(.75);
}
.text-field-indicator {
    position: absolute;
    background-color: var(--bg-primary);
    font-size: 12px;
    bottom: -8px;
    right: 16px;
    padding: 0 4px;

}

:not(.floating-label-container) > .text-field {
    border: 1px solid #707070;
    background-color: rgba(var(--button-primary), 1);
    color: rgba(var(--on-button), 1);

    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.text-field:-webkit-autofill,
.text-field:-webkit-autofill:hover,
.text-field:-webkit-autofill:focus,
.text-field:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(var(--button-primary-hover), 1) inset !important;
    -webkit-text-fill-color: rgba(var(--on-button), 1) !important;
}
/* </editor-fold> */
/* <editor-fold desc="|| Items">*/
.item {
    background-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
}
.item-list {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}
.item-list > .item {
    width: 100%;
}

/* </editor-fold> */
/* <editor-fold desc="|| Particles">*/
.particle {
    position: absolute;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    opacity: 0.1;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
.particle.star {
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: none;
}
.particle.star.layer0 {
    width: 1px;
    height: 1px;
    animation: MoveUp 60s linear forwards;
}
.particle.star.layer1 {
    width: 3px;
    height: 3px;
    animation: MoveUp 70s linear forwards;
}
.particle.star.layer2 {
    width: 4px;
    height: 4px;
    filter: blur(2px);
    animation: MoveUp 80s linear forwards;
}

.particle-container {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
}
.button--outline.particle-color {
    background-color: var(--button-primary);
}
.particle-layer {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

/* </editor-fold> */

/* <editor-fold desc="|| Keyframes">*/


@keyframes MoveUp {
    0% {
        transform: translateY(0);

    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes UpDownMovement {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}
@keyframes UpFadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes UpFadeInSlow {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes RightFadeInSlow {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    50% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes LeftFadeInSlow {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    50% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes RotateIn {
    0% {
        opacity: 0;
        transform: translateX(20px) rotate(10deg);
    }
    100% {
        opacity: 100;
        transform: translateX(0px) rotate(0deg);
    }
}
/* </editor-fold> */

@media only screen and (min-height: 768px) {
    #introduction {
        padding: 150px 50px;
        height: initial;
    }
    #introduction-text * {
        text-align: initial;
    }
    section .content {
        border-radius: 10px;
    }
    .scroll-down-indicator {
        display: none;
    }

}

@media only screen and (min-width: 480px) {
    #introduction-text h1 {
        font-size: 9vw;
    }
    #introduction-text .subtitle {
        font-size: 3.2vw;
    }

    nav#navigation-menu {
        gap: 32px;
    }

    #introduction {
        padding: 150px 50px;
        height: initial;
    }
    #introduction-text * {
        text-align: initial;
    }
    section > header{
        top: -48px;
        padding: 0px 50px;
    }
    section .content {
        border-radius: 10px;
        padding: 20px 50px 50px 50px;
    }
    .scroll-down-indicator {
        display: none;
    }
    .page-project--info, .page-contact {
        padding: 20px 50px 50px 50px;
    }
    .page-project > .centered-section {
        padding: 50px 50px;
    }
    body > footer {
        padding: 10px 50px;
    }
    .about-me-profile .profile-picture {

        max-width: 200px;
        width: 100%;
        height: auto;

    }
}
@media only screen and (min-width: 600px) {
    #navigation-burger {
        display: none;
    }
    #navigation-menu {
        display: flex;
    }
    #navigation-drawer {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    /* Timeline vertical */
    .timeline {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-left: 10px;
        height: calc(700px);
    }
    .timeline .timeline-path {
        position: absolute;
        top: 0;
        left: 50%;
        height: calc(700px);
        width: 4px;
        background: var(--progress-bar);
    }
    .timeline-path::before {
        content: '';
    }
    .timeline-path::after{
        content: 'V';
        position: absolute;

        bottom: -25px;
        right: -10px;


        background: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 10%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
    }
    .timeline-item {
        position: absolute;
        display: flex;
        flex-flow: column;
        font-size: 24pt;
        height: auto;
        left: 0 !important;
        right: auto !important;
        width: calc(50% - 4px);
    }
    .timeline-item.bottom {
        /* right: calc(50% + 4px); */
        right: 0 !important;
        left: auto !important;
        justify-content: flex-end;
        * {
            text-align: end;
        }
    }
    .timeline-item-content {
        padding: 0.5rem 0;
        z-index: 1;
        background-color: black;
    }
    .timeline-item-date {
        font-size: 16px;
        font-weight: 700;
        background: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .timeline-item.bottom .timeline-item-date {
        background: linear-gradient(-126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .timeline-item-path {
        position: absolute;
        left: 0px;
        width: 100%;
        background-image: linear-gradient(to right, black 50%, rgba(255,255,255,50%) 0%);
        background-position: bottom;
        background-size: 30px 2px;
        background-repeat: repeat-x;
        z-index: 2;
    }
    .timeline-item .timeline-item-image {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: -172px;
        height: auto;
        width: 150px;
    }
    .timeline-item.bottom .timeline-item-image {
        top: 8px;
        bottom: auto;
        right: auto;
        left: -170px;
    }
    .timeline-item-image.sap {
        top: 30px;
        left: auto;
        right: -172px;
        bottom: auto;
    }
    .timeline-item-image img {
        width: 100%;
        height: auto;
    }
    .timeline-item {
        &:nth-child(2) {
            top: 0%;
        }
        &:nth-child(3) {
            top: 20%;
        }
        &:nth-child(4) {
            top: 40%;
        }
        &:nth-child(5) {
            top: 60%;
        }
        &:nth-child(6) {
            top: 80%;
        }
    }
}
@media only screen and (max-width: 500px) {
    .timeline-item.bottom {
        /* right: calc(50% + 4px); */
        right: auto !important;
        left: 0 !important;
        * {
            text-align: left;
        }
    }
    .timeline-item.bottom .timeline-item-date {
        background: linear-gradient(126deg, rgba(255, 0, 193, 1) 0%, rgba(0, 198, 255, 1) 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .timeline .timeline-path {
        left: 60%;
    }
    .timeline-item {
        width: calc(60% - 4px);
    }
    .timeline-item-image.sap {
        top: 30px;
    }
    .timeline-item-image {
        right: -140px !important;
        width: 120px !important;
    }
    .timeline-item.bottom .timeline-item-image {
        bottom: auto;
        top: 0;
        left: auto;
        right: -172px;
    }
}

@media only screen and (max-width: 350px) {
    .timeline .timeline-path {
        left: 100%;
    }
    .timeline-item {
        width: calc(100% - 4px);
    }
    .timeline-item-image {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    #introduction-text h1, h1{
        font-size: 70px;
    }
    h2 {
        font-size: 40px;
    }
    h3, #introduction-text .subtitle, .project-description .project-title {
        font-size: 25px !important;
    }
    h4 {
        font-size: 20px;
    }
    .card--small {
        width: 100%;
        max-width: 350px;
        height: 400px;
    }
    .card-list {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .card--rotate:hover .card-front {
        background-position: -650px;
    }
    .card-front, .card-back {
        background-size: 1000px;
    }

    .padding {
        padding: 20px;
    }
    .page-about {
        padding: 20px;
    }
    .page-about table td.title {
        width: 200px;
        font-weight: bold;
    }
    .side-by-side {
        display: flex;
        flex-flow: row;
        padding: 20px;
    }
    .side-by-side > * {
        flex: 1 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .side-by-side.reversed {
        flex-flow: row-reverse;
    }
    .about-me-profile .profile-picture {
        max-width: none;
        max-height: 400px;
        height: 100%;
        width: auto;

        margin: 0;
        display: block;
        border-radius: 10%;
        float: right;
    }
}

@media only screen and (min-width: 1000px) {
    .about-me-profile {
        display: flex;
        flex-flow: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        gap: 50px;
    }
}

